* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark:rgb(45, 168, 132);
    --light:white;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width:90%;
    margin:auto;
}
.text-white{
    color: var(--light);
}
.text-main{
    color: var(--dark)
}
.inline-block{
    display: inline-block;
    vertical-align: middle;
}
.btn{
    padding: 3% 10%;
    display: inline-block;
    border-radius: 2rem;
}
.w-25{
    width: 24.5%;
}
.w-50{
    width:50%;
}
.w-100{
    width:100%;
}
.w-30{
    width:30%;
}
.btn-white{
    background-color: var(--light);
    color: var(--dark);
}
.btn-dark{
background-color: rgb(45, 168, 132);
    color: white;
}
nav{
    position: fixed;
    border-bottom: 0.5px solid white;
    padding: 1% 0;
}
nav ul li{
    margin: 0 10%;
}
#btns{
    text-align: end;
}
#btns a{
    margin-left: 3%;
}
header {
    background-image: url(../image/hero-bg.png);
    background-size: 100% 100%;
    padding: 10% 0 5% 0;
}
header h1{
    font-size:5rem;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
}
.small-txt{
    font-size: 0.7rem;
    line-height: 1.2;
    margin: auto;
    text-align: center;
}
.my-btns{
    margin: 2% auto;
    text-align: center;
}
#state{
    margin: auto;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
}
#state *{
    text-align: center;
}
#state div{
    border-right: 1px solid black;
}
#state div:nth-child(4){
    border-right: none;
}

.col-1{
    width: calc(100% / 12);
}
